aiohttp==3.8.5
aiosignal==1.3.1
asttokens==2.2.1
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==23.1.0
backcall==0.2.0
blinker==1.6.2
certifi==2023.5.7
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
comm==0.1.3
contourpy==1.1.0
cycler==0.11.0
dash==2.9.3
dash-bootstrap-components==1.4.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
debugpy==1.6.7
decorator==5.1.1
distlib==0.3.7
docopt==0.6.2
docx==0.2.4
exceptiongroup==1.1.1
executing==1.2.0
filelock==3.13.1
flagpy==1.0.3
Flask==2.3.2
fonttools==4.41.0
frozenlist==1.4.0
grid==0.7.1
gunicorn==21.2.0
identify==2.5.31
idna==3.4
ImageHash==4.3.1
imageio==2.31.5
iniconfig==2.0.0
ipykernel==6.22.0
ipython==8.13.2
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.4
lazy_loader==0.3
lxml==4.9.3
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
multidict==6.0.4
nest-asyncio==1.5.6
networkx==3.1
nodeenv==1.8.0
numpy==1.24.3
openai==0.27.8
opencv-python==4.8.0.74
packaging==21.3
pandas==2.0.1
parso==0.8.3
pickleshare==0.7.5
Pillow==10.0.0
pipreqs==0.4.12
platformdirs==3.11.0
plotly==5.14.1
pluggy==1.0.0
pre-commit==2.16.0
prompt-toolkit==3.0.38
psutil==5.9.5
pure-eval==0.2.2
py==1.11.0
Pygments==2.15.1
pyparsing==3.0.9
pytest==6.2.5
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
#pywin32==306
PyYAML==6.0.1
pyzmq==25.0.2
qiniu==7.10.0
requests==2.31.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
scikit-image==0.21.0
scipy==1.11.3
seaborn==0.12.2
six==1.16.0
stack-data==0.6.2
tenacity==8.2.2
termcolor==1.1.0
tifffile==2023.9.26
toml==0.10.2
tomli==2.0.1
tornado==6.3.1
tqdm==4.65.0
traitlets==5.9.0
tzdata==2023.3
upload==0.1.1
urllib3==2.0.4
virtualenv==20.24.6
visdcc==0.0.50
wcwidth==0.2.6
Werkzeug==2.3.3
yarg==0.1.9
yarl==1.9.2
yolk3k==0.9
